@import url(../../css/main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    font-family: 'Netflix Sans';
}

// NAV-BAR
.nav-container {
    background-color: white;
    height: 65px;
    border-bottom: 1px solid #d5d4d1;
    .header-container {
        width: 100%;
        height: 100%;
        .left-content {
            @apply
            h-6
            w-[89px]
        }
        .right-content {
            span { 
                #profile-icon { 
                    border-radius: 4px;
                    @apply
                    w-8
                    h-8
                }
                #arrow { 
                    @apply
                    mx-2
                }
                @apply
                flex
                items-center
            }
        }  
        @apply
        flex
        justify-between
        items-center
        mx-6
    }
    @apply
    flex
    justify-center
}