@import url(../../css/main/font.css);
* { 
    padding: 0;
    margin: 0;
}

html { 
    font-family: 'Netflix Sans';
}

.header-container { 
    @apply 
    bg-blue-50
    h-[66px]
    flex
}

.mobile-drop-down { 
    ul { 
        li { 
            @apply list-none

        }
    }
}

.logo-container { 
    @apply 
    flex
    w-[88px]
    p-3
}



// .left-container { 
//     @apply 
//     flex-grow
// }

.help-center { 
    font-size: 18px;
    border-left: 1px solid black ;
    @apply 
    p-2
    my-3
    flex-grow
}
.border-box { 
    background: black;
    height: 24px;
    left: 100%;
    margin-left: 16px;
    position: absolute;
    top: 4px;
    width: 1px;
    
}






