@import url(../main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

.legal-notices-subpage {
    color: black;
    height: 100%;
    .global-container-ligal-notices {
        .legal-notices-header {
            height:66px;
            width: auto;
            .header-material{
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 12px;
                background-color: black;
                .left-side-box {
                    display: flex;
                    padding: 0px 24px 0px 0px;    
                        .logo {
                        height: 32px;
                        width: auto;
                        }
                        .help-center {
                            color: white;
                            display: flex;
                            height: 32px;
                            width: auto;
                            p {
                            margin: 0px 0px 0px 16px;
                            
                            }
                            a {
                                color: white;
                                margin: 0px 0px 0px 16px;
                            }
                        }
                    }
                }
                .right-side-box {
                    color: white;
                    a {
                        text-decoration: underline;
                        i {
                            color: red;
                            position: relative;
                            top: 3px;
                            padding-right: 5px;
                        }
                    }
                }
         
                
            }
        }
        .legal-notices-global-notifications {
            height: 162px;
            width: auto;
            color: black;
            .global-notifications-box-1 {
                height: 81px;
                padding: 0px 24px;
                background-color:#eaeae6;
                border-bottom: 1px solid #d5d4d1;
                .notifications-upper {
                    top: 50%;
                    display: flex;
                    padding: 16px 16px 16px 40px;
                    .bell1 {
                        padding-right: 24px;
                        padding-top: 15px;
                        svg {
                            width: 16px;
                            height: 20px;
                        }

                    }
                    .upper-paragraph1 {
                       .upper-para-1 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                        .upper-para-2 {
                            font-size: 16px;
                        }
                    }
                }
            }

            
        }
    .content-part-container{
        height: 938px;
        margin:32px 12px 48px 12px;
        .content-part {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            
            .right-side-box {
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    margin-right: 8px;
                    font-size: 16px;
                    path {
                        width: 16px;
                        height: 16px;
                    }
                }
                a {
                    p{
                        font-size: 14px;
                    }
                } 
            }
            .button-box {
                display: flex;
                width: 111px;
                height: 42px;
                border: 1px solid rgba(0, 0, 0, 0);
                svg {
                    margin-right: 8px;
                    justify-content: start;
                    align-items: center;
                }
            }
        }
        .title-part {
            height: 50px;
            
            .title {
                font-size: 40px;
                font-weight: 800;
                padding-bottom:32px;
            }
            .legal-notices-para {
              font-size: 16px;
              margin-bottom: 16px;  
            }
            h3 {
                margin: 40px 0px 8px;
                font-size: 18px;
                font-weight: 700;
            }
            p {
                margin: 0px 0px 16px;
                font-size: 16px;
                a {
                    color: red;
                }
                }
            }
            .accordion-box-container{
                .accordion-box {
                    border: 1px solid #eaeae6;
                    border-radius: 4px;
                    .accordion {
                        color: rgb(229, 9, 20);
                        font-weight: 600;
                        i {
                            color: black;
                            padding-right: 5px;
                            position: relative;
                            top: 3px;
                            left: 2px;
                            height: 24px;
                            width: 24px;
                        }
                    }
                    .panel {
                        padding-left: 64px;
                        padding: 0 18px;
                        background-color: white;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        li {
                            margin-left: 64px;
                            list-style-type: disc;
                            margin-bottom: 8px;
                            padding-bottom: 24px;
                        }
                        .netflix {
                            padding-top: 24px;
                        }

                            
                            a {
                                color: #e50914;
                                text-decoration: underline;

                            }
                    }
                }
                   
            }
            .last-update-box {
                display: flex;
                margin: 16px 0px;
                height: 24px;
                .last-updated {
                    font-weight: 700;
                    font-size: 16px;
                }
                .date {
                    padding-left: 5px;
                }
            }
             
        }
    .footer-part {
        height: 220px;
        background:linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
        padding: 0px 0px 48px;
        .container {
            height:172px;
            padding: 0px 12px;
            .footer-box {
                color:rgba(255, 255, 255, .7);
                padding: 40px 0px 0px;
                ul {
                    li {
                        height: 18px;
                        font-size: 16px;
                        margin: 0px 0px 14px;
                        a {
                            font-size: 14px;
                        }
                    }
                    li:last-child {
                        margin-bottom: 0;
                    }
                }

            }
        }
    }   
            
    }
    
      
