@import url(../../css/main/font.css);

:root {
    --slider-padding: 5vw;
    --card-border: .5vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.container {
    position: relative;
    // width: 100%;
    .thumbnail {
        position: absolute;
        width: 100%;
        img {
            width: 100%;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        position: absolute;
        width: 100%;
        height: 56.25vw;
        
        .left-info {
            margin-left: 4.5vw;
            padding-bottom: 18vw;
            width: 35vw;
            img {
                width: 100%;
                
            }
            .decribtion {
                margin-top: 1.8vw;
                margin-bottom: 1.8vw;
                color: #fff;
                font-size: 1.2vw;
                font-weight: 300;
            }
            .b1, .b2, .b3 {
                display: inline-flex;
                align-items: center;
                font-size: 1.3vw;
                font-weight: 500;
                padding: .7vw 1.3vw;
                border: none;
                margin-left: 10px;
                border-radius: .3vw;
                cursor: pointer;
                svg {
                    margin-right: .8vw;
                }
            }
            .b2 {
                color: #fff;
                background-color: rgba(109, 109, 110, 0.7);
            }
        }

        .right-info {
            padding-bottom: 18vw;
            margin-right: 3vw;
            
        }
    } 

    .gradient-screen {
        position: absolute;
        width: 100%;
        height: 56.25vw;
        background: linear-gradient(0deg, #181818, transparent 50%);
    }
    
}

// body part 
.body-wrapper {
    width: 100%;

    position: relative;
    top: 50vw;
    background-color: cyan;
    
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}


.carousel-container  {
    .slider {
        --slider-index: 0;
        width: calc(100% - 2 * var(--slider-padding));
        display: flex;
        transform: translateX(calc(var(--slider-index) * -100%));
        transition: transform .7s ease-in-out ;
        
        .img-container {
            aspect-ratio: 16/9;
            flex: 0 0 25%; //   shrink 0 grow 0 25% of parent
            max-width: 25%; // make sure it is alway25%
            padding: .1rem;
             position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--card-border);
            }
            .hidden-info-card {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                background-color: yellow;
                border-radius: var(--card-border) ;
                transition: all .15s ease-out;
                z-index: 0;
                pointer-events: none;
                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    object-fit: cover;
                }
                .card-info {
                    font-size: 1vw;
                    z-index: 100;
                }
            }
            .hidden-info-card:hover {
                opacity: 1;
                top: -7vw;
                left: 5.5vw;
                scale: 1.5;
                transition-delay: .5s;
                pointer-events: all;
                z-index: 20;
                
            }
            .hidden-info-card:hover + .slider{
                z-index: 10;
            }
            
            
            
        }
        .img-container:hover {
            .hidden-info-card {
                pointer-events: all;
                // z-index: 20;
            }
        }
        
    }
    
}




// handler

.carousel-container:hover .arrow {
    visibility: visible;
}

.arrow {
    font-size: 6vw;
    color: #fff;
    font-weight: 100;
    line-height: .5rem;
    transition: font-size .1s ease;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}

.handle {
    width: var(--slider-padding);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
    margin: .1rem 0 .35rem 0;
    border: none;
    cursor: pointer;
}

.handle:hover .arrow, .arrow:hover{
    font-size: 8vw;
    visibility: visible;
}
.arrow:hover .handle, .handle:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.left-handle {
    margin-right: .1vw;
    border-radius: 0 var(--card-border) var(--card-border) 0;
}

.right-handle {
    margin-left: .1vw;
    border-radius: var(--card-border) 0 0 var(--card-border);
}

.hidden-info:hover + .slider {
    z-index: 10;
  }
  

.slider:hover {
    z-index: 4;
}
