@import url(../../css/main/font.css);

:root {
    --slider-padding: 5vw;
    --card-border: .5vw;
    --img-container-gap: .2vw;
    --hover-card-position-top: -7vw;
    --items-per-screen: 2;  
    --slider-index: 0;
    --black-bg: #141414;
    --grey-bg: rgb(255, 255, 255, .1)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    overflow-x: hidden;
}

// top part 
.body-container {
    position: relative;
    // width: 100%;
    .thumbnail {
        position: absolute;
        z-index: 1;
        width: 100%;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .background-video {
        position: absolute; 
        width: 100%;
        top:0;
        z-index: 2;
        transition: opacity .1s ease-in;
        video {
            width: 100%;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        position: absolute;
        width: 100%;
        height: 56.25vw;
        z-index: 2;
        .left-info {
            margin-left: 4.5vw;
            padding-bottom: 15vw;
            width: 50vw;
            img {
                scale: 1.3; 
                top: -3vw;
                left: 6vw;
                position: relative;
                width: 75%;
                animation: movie-logo-zoom 18s ;
            }
            .decribtion {
                position: relative;
                width: 80%;
                margin-bottom: 1.8vw;
                color: #fff;
                font-size: 1.2vw;
                font-weight: 300;
                animation: movie-describtion-fade 18s;
            }
            .info-buttons-container {
                display: flex;
                gap: 1vw;
                
                .b1, .b2 {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 500;
                    padding: .7vw 1.3vw;
                    border: none;
                    border-radius: .3vw;
                    cursor: pointer;
                    svg {
                        margin-right: .8vw;
                        min-width: 15px;
                    }
                    @apply sm:text-[1.3vw]
                    px-[1.8vw]
                    py-[1vw]
                    sm:py-[0.7vw]
                    sm:px-[1.3vw]
                    hover:opacity-80
                }
                .b2 {
                    color: #fff;
                    background-color: rgba(109, 109, 110, 0.7);
                }
        }
        }

        .right-info {
            margin-bottom: 18vw;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 3vw;
            width: 10vw; 
            height: 3vw; 
            .sound-on-icon, .sound-off-icon {
                padding-left: .6vw;
                padding-top: .1vw;
                display: flex; 
                justify-items: center; 
                align-items: center; 
                width: 3vw; 
                height: 3vw; 
                border: 1px solid white; 
                border-radius: 50%;
                min-width: 20px;
                min-height: 20px;
                background-color: var(--grey-bg);
                svg {
                    width: 80%;
                    height: 80%;
                }
            }
            .sound-on-icon:hover, .sound-off-icon:hover{
                background-color: rgb(255, 255, 255, .3);
            }
            .age-rate {
                color: #e5e5e5;
                user-select: none;
                border-left: .3vw solid white;
                margin-left: 1.5vw;
                width: 5.5vw;
                height: 80%;
                padding-left: .5vw;
                padding-top: .5vw;
                font-size: 1vw;
                background-color: rgb(51, 51, 51, .6);
            }
        }
    } 

    .gradient-screen {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 56.25vw;
        background: linear-gradient(0deg, #181818, transparent 50%);
    }
    
}

// body part 
.body-wrapper {
    width: 100%;;
    position: relative;
    top: 50vw;
    background-color: #181818;
    
}


//carousel part
.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    // background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.genre-title {
    cursor: pointer;
    position: relative;
    .sliding-indicator {
        top: .3vw;
        left: 9.8vw; //12
        position: absolute;
        font-size: 1vw;
        color: #54b9c5;
        text-wrap: nowrap;
        opacity: 0;
        // z-index: 5;
        transition: opacity .3s ease, left .4s ease;
    }

    .sliding-arrow {
        top: 0.1vw;
        left: 10vw;  //14
        position: absolute;
        font-size: 1vw;
        opacity: 0;
        scale: 1;
        transition: top .3s ease-in-out, scale .2s ease-in-out, left .1s ease-out, opacity .1s ease-in-out;
        svg {
            width: 1.8vw;
            height: 1.8vw;
            path {
                fill: #54b9c5;
            }
        }
    }
}


// effects from js
.card-info.show {
    display: block;
}
.sliding-arrow.hover-effect {
    transition-delay: .4s; /* Add delay after hovering stops */
  }

.carousel-row:hover  .sliding-arrow {
    opacity: 1;
}

.title-name:hover {
    + .sliding-indicator {
        opacity: 1;
        + .sliding-arrow {
            scale: .8;
            top: 0;
            left: 15.3vw;
            opacity: 1;
        }
        left: 11vw;
    }
}

.sliding-indicator:hover {
    opacity: 1;
    + .sliding-arrow {
        scale: .8;
        top: 0;
        left: 15.3vw;
        opacity: 1;
    }
    left: 11vw;
}


@media (min-width: 0) and (max-width: 700px) {
    .genre-title {
        .sliding-indicator {
            left: 5rem;
            top: .2rem;
            font-size: .5rem;
            color: #54b9c5;
        }
        .sliding-arrow {
            left: 5.3rem;
            top: 0rem;
            font-size: 1vw;
            svg {
                width: 1rem;
                height: 1rem;
                path {
                    fill: #54b9c5;
                }
            }
        }
    }
    .title-name:hover {
        + .sliding-indicator {
            opacity: 1;
            + .sliding-arrow {
                left: 8.1rem;
                opacity: 1;
            }
            left: 6rem;
        }
    }

    
}

.carousel-container  {
    .slider {
        position: relative;
        width: calc(100% - 2 * var(--slider-padding));
        display: flex;
        transform: translateX(calc(var(--slider-index) * -100%));
        transition: transform .7s ease-in-out , z-index 1s ease;
        z-index: 2;
        .img-container {
            aspect-ratio: 16/9;
            flex: 0 0 calc(100% / var(--items-per-screen)); //   shrink 0 grow 0 25% of parent
            max-width: calc(100% / var(--items-per-screen)); // make sure it is alway25%
            padding: calc(var(--img-container-gap));
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--card-border);
            }

            .hidden-info-card {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0.2;
                width: 98%;
                opacity: 1;// background-color: yellow;
                background-color: none; // none
                border-radius: var(--card-border) ;
                z-index: -1;  //-1
                scale: .97; // 1
                pointer-events: none;
                transition: scale .2s ease-out, z-index .2s ease-out, opacity .2s ease-out, left .2s ease-out, top .2s ease-out;
                transition: all .2s ease-out;

                img {
                    width: 100%;
                    aspect-ratio: 16/9;
                    border-bottom-left-radius: var(--card-border);
                    border-bottom-right-radius: var(--card-border);
                    object-fit: cover;
                    
                }
                .card-info {
                    display: none;
                    font-size: 1vw;
                    opacity: 0; //1
                }
            }
            .hidden-info-card:hover {
                opacity: 1;
                top: calc(var(--hover-card-position-top));
                scale: 1.5;
                pointer-events: all;
                z-index: 20;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
                .card-info {
                    
                    opacity: 1;
                    // transition-delay: 0s;
                }
                .card-info:hover {
                    transition-delay: .3s;
                }
                img {

                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .hidden-info-card:hover + .carousel-row {
                z-index: 30;
            }
        }
        // .img-container:nth-child(calc((var(--slider-index) + 1) * var(--items-per-screen))) .hidden-info-card:hover {
        //     right: 25%;
        // }
        .img-container:hover {
            .hidden-info-card {
                pointer-events: all;
                z-index: 20;
                background-color: #141414;
                transition-delay: .5s;
            }

            .hidden-info-card {
                opacity: 1;
                top: calc(var(--hover-card-position-top));
                scale: 1.5;
                pointer-events: all;
                z-index: 20;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
                
                img {

                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
        
    }
    
}

.carousel-row {
    .carousel-progress-container {
        margin: 0 calc(var(--slider-padding) + var(--img-container-gap));
        padding-bottom: 10px;
        position: relative; z-index: 2;
        .genre-title {
            color: #e5e5e5;
        }
        
    }
}



// handler

.carousel-container:hover .arrow {
    visibility: visible;
}

.arrow {
    font-size: 6vw;
    color: #fff;
    font-weight: 100;
    line-height: .5rem;
    transition: font-size .1s ease;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}

.handle {
    width: var(--slider-padding);
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 5;
    margin: .1rem 0 .35rem 0;
    border: none;
    cursor: pointer;
}

.handle:hover .arrow, .arrow:hover{
    font-size: 8vw;
    visibility: visible;
}
.arrow:hover .handle, .handle:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.left-handle {
    margin-right: .1vw;
    border-radius: 0 var(--card-border) var(--card-border) 0;
}

.right-handle {
    margin-left: .1vw;
    border-radius: var(--card-border) 0 0 var(--card-border);
}

.hidden-info:hover + .slider {
    z-index: 10;
}
  

.slider:hover {
    z-index: 4;
}


// grid system responsiveness
@media (min-width: 600px) {
    .slider {
        --items-per-screen: 3;
    }
}
@media (min-width: 800px) {
    .slider {
        --items-per-screen: 4;
    }
}
@media (min-width: 1100px) {
    .slider {
        --items-per-screen: 5;
    }    
}
@media (min-width: 1400px) {
    .slider {
        --items-per-screen: 6;
    }    

    
}


// progress bar

.carousel-progress-container {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: space-between;
    .genre-title {
        font-size: 12px;
    }
    .carousel-progress {
        display: flex;
        gap: .1rem;
        .progress-item {
            width: 12px;
            height: 2px;
            background-color: #4d4d4d;
            
        }
        .progress-item.active-item {
            background-color: #aaa;
        }
    }
}

@media (min-width: 800px) {
    .carousel-progress-container {
        .genre-title {
            font-size: 1.4vw;
        }
    }
}


// animation for the the tove mmovie logo

@keyframes movie-logo-zoom {
    0% {
        scale: 1.3; 
        top: -3vw;
        left: 6vw;
    }
    21% {
        scale: 1.3; 
        top: -3vw;
        left: 6vw;
    }
    30% {
        scale: 1;
        top: 5vw;
        left: 0;
    }
    88% {
        scale: 1;
        top: 5vw;
        left: 0;
    }
    100% {
        scale: 1.3; 
        top: -3vw;
        left: 6vw;
    }
}


// animation for the the hidde part of the hidden card
@keyframes movie-describtion-fade {
    0% {
        opacity: 1;
        top: 0;
    }
    21% {
        opacity: 1;
        top: 0;
    }
    30% {
        top: 5vw;
        opacity: 0;
    }
    88% {
        opacity: 0;
        top: 5vw;
        z-index: -100;
    }
    100% {
        top: 0;
        opacity: 1;
        scale: 1;
        left: 0;
    }
}

// movie card buttons

.card-info-wrapper {
 padding: 10px;
}
.movie-card-buttons-container {
    display: flex;
    justify-content: space-between;
    .movie-card-left-buttons {
        
        display: flex;
        gap: .3rem;
        
    }
}


.card-button  {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    svg {
        
        margin-top: 5%;
        margin-left: 11%;
        width: 60%;
        height: 60%;
        fill: #fff;
    }
}


.bgc-black {
    background-color: #141414;
    color: #fff; 
    svg {
        margin: 0;
        path {
            fill: #fff;
        }

    }
}


// movie-brief info

.movie-brief-info {
    * {
        color: #e5e5e5;
        font-size: .7rem;
        font-weight: 300;
    }
    .brief-top {
        display: flex;
        gap:  5px ;
        .matching-rate {
            color: #46d369;
            font-weight: normal;
        }

        .brief-age-rate {
            height: 
            14px; 
            font-size: 8px; 
            border: 1px solid white;
            padding: 0 2px;
        }
    }

    .brief-genre {
        display: flex; 
        align-items: center;
        gap: 5px;
         div {
            font-size: .6rem;
            color: white;
            font-weight: 200;
        }
        span {
            color: #aaa;
            font-size: 1.5rem;
        }
    }
}