@import url(../main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

body {
  background: #141414;
  color: #fff;
}

.netflix-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
}
.netflix-nav .nav-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 599px) {
  .netflix-nav .nav-container {
    padding: 24px;
  }
}
@media (min-width: 600px) and (max-width: 1279px) {
  .netflix-nav .nav-container {
    padding: 24px 32px;
  }
}
@media (min-width: 1280px) {
  .netflix-nav .nav-container {
    padding: 24px 48px;
  }
}
.netflix-nav .nav-container .logo {
  z-index: 1;
  width: 100px;
}
.netflix-nav .nav-container .button-part {
  width: 77px;
  height: 28px;
  background-color: red;
  border-radius: 0.1875rem;
  text-align: center;
  position: relative;
}

.content-part {
  position: relative;
  height: 700px;
  width: 100%;
}
.content-part .hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.content-part .hero-content .hero-content-content {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  min-width: 330px;
}
.content-part .hero-content .hero-content-content * {
  width: 100%;
  height: auto;
  text-align: center;
}
.content-part .hero-content .hero-content-content h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 960px) {
  .content-part .hero-content .hero-content-content h1 {
    font-size: 36px;
  }
}
.content-part .hero-content .hero-content-content h3 {
  font-size: 18px;
  margin: 16px 0px 0px;
  text-align: center;
}
.content-part .hero-content .hero-content-content p {
  font-size: 18px;
  margin: 16px 0px;
}
@media (min-width: 620px) {
  .content-part .hero-content .email-signup-part {
    display: flex;
  }
}
@media (max-width: 619px) {
  .content-part .hero-content .email-signup-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content-part .hero-content .email-signup-part .input-email {
  padding: 15px 16px 15px;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid gray;
}
.content-part .hero-content .email-signup-part .input-email input {
  width: 368px;
  height: 100%;
  background: none;
}
@media (max-width: 400px) {
  .content-part .hero-content .email-signup-part .input-email input {
    width: 250px;
  }
}
.content-part .hero-content .email-signup-part .getstarted-button {
  margin-left: 10px;
  padding: 12px 24px;
  border: 1px solid black;
  background-color: red;
  font-size: 20px;
  font-weight: 700;
  text-wrap: nowrap;
  display: flex;
}
.content-part .hero-content .email-signup-part .getstarted-button span {
  position: relative;
  top: 3px;
}
@media (max-width: 619px) {
  .content-part .hero-content .email-signup-part .getstarted-button {
    width: 173px;
    margin-top: 10px;
  }
}
.content-part .background-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.content-part .background-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout1-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout1-container .layout1-main {
  width: 1080px;
  display: flex;
}
.layout1-container .layout1-main .left-side {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.layout1-container .layout1-main .left-side h2 {
  font-size: 48px;
  font-weight: 1000;
}
.layout1-container .layout1-main .left-side p {
  font-size: 24px;
  margin-top: 16px;
}
.layout1-container .layout1-main .right-side {
  height: 530px;
  width: 100%;
}
.layout1-container .layout1-main .right-side .img-background {
  background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 93%;
  position: relative;
}
.layout1-container .layout1-main .right-side .img-background .video {
  position: absolute;
  left: 22px;
  top: 110px;
  z-index: -1;
}
.layout1-container .layout1-main .right-side .img-background .video video {
  object-fit: contain;
  overflow-clip-margin: content-box;
}

/*# sourceMappingURL=Landing_page.css.map */
