@import url(../main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
.legal-notices-subpage {
  color: black;
  height: 100%;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header {
  height: 66px;
  width: auto;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  background-color: black;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material .left-side-box {
  display: flex;
  padding: 0px 24px 0px 0px;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material .left-side-box .logo {
  height: 32px;
  width: auto;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material .left-side-box .help-center {
  color: white;
  display: flex;
  height: 32px;
  width: auto;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material .left-side-box .help-center p {
  margin: 0px 0px 0px 16px;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .header-material .left-side-box .help-center a {
  color: white;
  margin: 0px 0px 0px 16px;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .right-side-box {
  color: white;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .right-side-box a {
  text-decoration: underline;
}
.legal-notices-subpage .global-container-ligal-notices .legal-notices-header .right-side-box a i {
  color: red;
  position: relative;
  top: 3px;
  padding-right: 5px;
}
.legal-notices-subpage .legal-notices-global-notifications {
  height: 162px;
  width: auto;
  color: black;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 {
  height: 81px;
  padding: 0px 24px;
  background-color: #eaeae6;
  border-bottom: 1px solid #d5d4d1;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 .notifications-upper {
  top: 50%;
  display: flex;
  padding: 16px 16px 16px 40px;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 .notifications-upper .bell1 {
  padding-right: 24px;
  padding-top: 15px;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 .notifications-upper .bell1 svg {
  width: 16px;
  height: 20px;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 .notifications-upper .upper-paragraph1 .upper-para-1 {
  font-size: 16px;
  font-weight: 700;
}
.legal-notices-subpage .legal-notices-global-notifications .global-notifications-box-1 .notifications-upper .upper-paragraph1 .upper-para-2 {
  font-size: 16px;
}
.legal-notices-subpage .content-part-container {
  height: 938px;
  margin: 32px 12px 48px 12px;
}
.legal-notices-subpage .content-part-container .content-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.legal-notices-subpage .content-part-container .content-part .right-side-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.legal-notices-subpage .content-part-container .content-part .right-side-box svg {
  margin-right: 8px;
  font-size: 16px;
}
.legal-notices-subpage .content-part-container .content-part .right-side-box svg path {
  width: 16px;
  height: 16px;
}
.legal-notices-subpage .content-part-container .content-part .right-side-box a p {
  font-size: 14px;
}
.legal-notices-subpage .content-part-container .content-part .button-box {
  display: flex;
  width: 111px;
  height: 42px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.legal-notices-subpage .content-part-container .content-part .button-box svg {
  margin-right: 8px;
  justify-content: start;
  align-items: center;
}
.legal-notices-subpage .content-part-container .title-part {
  height: 50px;
}
.legal-notices-subpage .content-part-container .title-part .title {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 32px;
}
.legal-notices-subpage .content-part-container .title-part .legal-notices-para {
  font-size: 16px;
  margin-bottom: 16px;
}
.legal-notices-subpage .content-part-container .title-part h3 {
  margin: 40px 0px 8px;
  font-size: 18px;
  font-weight: 700;
}
.legal-notices-subpage .content-part-container .title-part p {
  margin: 0px 0px 16px;
  font-size: 16px;
}
.legal-notices-subpage .content-part-container .title-part p a {
  color: red;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box {
  border: 1px solid #eaeae6;
  border-radius: 4px;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .accordion {
  color: rgb(229, 9, 20);
  font-weight: 600;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .accordion i {
  color: black;
  padding-right: 5px;
  position: relative;
  top: 3px;
  left: 2px;
  height: 24px;
  width: 24px;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .panel {
  padding-left: 64px;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .panel li {
  margin-left: 64px;
  list-style-type: disc;
  margin-bottom: 8px;
  padding-bottom: 24px;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .panel .netflix {
  padding-top: 24px;
}
.legal-notices-subpage .content-part-container .accordion-box-container .accordion-box .panel a {
  color: #e50914;
  text-decoration: underline;
}
.legal-notices-subpage .content-part-container .last-update-box {
  display: flex;
  margin: 16px 0px;
  height: 24px;
}
.legal-notices-subpage .content-part-container .last-update-box .last-updated {
  font-weight: 700;
  font-size: 16px;
}
.legal-notices-subpage .content-part-container .last-update-box .date {
  padding-left: 5px;
}
.legal-notices-subpage .footer-part {
  height: 220px;
  background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
  padding: 0px 0px 48px;
}
.legal-notices-subpage .footer-part .container {
  height: 172px;
  padding: 0px 12px;
}
.legal-notices-subpage .footer-part .container .footer-box {
  color: rgba(255, 255, 255, 0.7);
  padding: 40px 0px 0px;
}
.legal-notices-subpage .footer-part .container .footer-box ul li {
  height: 18px;
  font-size: 16px;
  margin: 0px 0px 14px;
}
.legal-notices-subpage .footer-part .container .footer-box ul li a {
  font-size: 14px;
}
.legal-notices-subpage .footer-part .container .footer-box ul li:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=legal-notices.css.map */
