/* Font Family injection */

* {
  font-family: 'Netflix Sans';
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 100;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 300;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 400;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 700;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 800;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 900;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.netflix-sans-font-loaded {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
  font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
  font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.error-page {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: rgba(0,0,0,.18);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 68px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Netflix Sans";
}

.nav-container {
  background-color: white;
  height: 66px;
  display: flex;
  justify-content: center;
  color: black;
}

.nav-container .header-container {
  max-width: 1248px;
  width: 1248px;
  min-width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container .header-container .left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container .header-container .left-content .help-center {
  margin: 20px;
}

.nav-container .header-container .right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container .header-container .right-content .mobile-icon {
  height: 20px;
}

.notification-bar {
  background-color: #EAEAE6;
  height: 81px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d5d4d1;
}

.notification-bar .notification-main {
  max-width: 1248px;
  width: 1248px;
  min-width: auto;
  height: 100%;
  display: flex;
}

.notification-bar .notification-main .notification-bell {
  display: flex;
  align-items: center;
}

.notification-bar .notification-main .notification-text {
  display: flex;
  align-items: center;
}

.notification-bar .notification-main .notification-text .notification-text-inner {
  flex-direction: column;
  margin-left: 10px;
}

.notification-bar .notification-main .notification-text .notification-text-inner h3 {
  font-size: 16px;
}

.notification-bar .notification-main .notification-text .notification-text-inner p {
  font-size: 16px;
  font-weight: 300;
}

.search-container {
  height: 397px;
  width: 390px;
}

@media (min-width: 768px) {
  .search-container {
    height: 815px;
    width: 805px;
  }
}

@media (min-width: 1024px) {
  .search-container {
    height: 816px;
    width: 100%;
    min-width: 806px;
  }
}

.search-container .detail-container {
  justify-content: center;
  align-items: center;
}

.search-container .detail-container .title {
  font-size: 40px;
  display: block;
}

.search-container .detail-container .input-container {
  border-radius: 4px;
  border: 2px solid gray;
  position: relative;
  height: 42px;
  width: 592px;
}

.search-container .detail-container .input-container svg {
  position: absolute;
  margin: 0.25rem;
  padding-top: 0.25rem;
  padding-left: 0.5rem;
}

.search-container .detail-container .input-container input {
  height: 30px;
  width: 300px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 50px;
  padding-top: 5px;
}

/*# sourceMappingURL=o_help_center.css.map */