/* Font Family injection */

* {
  font-family: 'Netflix Sans';
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 100;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 300;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 400;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 700;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 800;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 900;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.netflix-sans-font-loaded {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
  font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
  font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.error-page {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: rgba(0,0,0,.18);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 68px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .title {
  text-align: center;
  font-size: 34px;
  letter-spacing: 0.2rem;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .container .title {
    font-size: 3.8vw;
  }
}

.container .profile-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.container .user-profile {
  margin-bottom: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 10vw;
  min-height: 8.4rem;
  max-height: 20rem;
  min-width: 0.84rem;
  max-width: 20rem;
}

.container .user-profile img {
  display: block;
}

.container a {
  text-decoration: none;
}

.container .user-profile-icon {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.container .user-profile-icon:hover {
  outline: 3px solid white;
}

.container .user-profile-name {
  font-size: calc(1em + 0.5vw);
  color: #808080;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
}

.container g:hover {
  fill: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container .manage-profile {
  border: 1px solid grey;
  color: grey;
  padding: 0.8rem 2.6rem;
  letter-spacing: 0.3rem;
  font-size: calc(0.4em + 1.1vw + 0.2vh);
  margin-top: 7rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: 200;
}

.button-container .manage-profile:hover {
  border: 1px solid #fff;
  color: #fff;
}

/*# sourceMappingURL=o_profile_pick.css.map */