/* Font Family injection */

* {
  font-family: 'Netflix Sans';
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 100;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 300;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 400;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 700;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 800;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
  font-family: 'Netflix Sans';

  font-weight: 900;

  font-display: optional;

  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

.netflix-sans-font-loaded {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.nkufi-font-loaded {
  font-family: NKufi,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.netflix-sans-font-loaded.graphik-font-loaded {
  font-family: GraphikTH,'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.error-page {
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: rgba(0,0,0,.18);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 68px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000
}

:root {
  --slider-padding: 5vw;
  --card-border: .5vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.container .thumbnail {
  position: absolute;
  width: 100%;
}

.container .thumbnail img {
  width: 100%;
}

.container .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 56.25vw;
}

.container .info .left-info {
  margin-left: 4.5vw;
  padding-bottom: 18vw;
  width: 35vw;
}

.container .info .left-info img {
  width: 100%;
}

.container .info .left-info .decribtion {
  margin-top: 1.8vw;
  margin-bottom: 1.8vw;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 300;
}

.container .info .left-info .b1, .container .info .left-info .b2, .container .info .left-info .b3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.3vw;
  font-weight: 500;
  padding: 0.7vw 1.3vw;
  border: none;
  margin-left: 10px;
  border-radius: 0.3vw;
  cursor: pointer;
}

.container .info .left-info .b1 svg, .container .info .left-info .b2 svg, .container .info .left-info .b3 svg {
  margin-right: 0.8vw;
}

.container .info .left-info .b2 {
  color: #fff;
  background-color: rgba(109, 109, 110, 0.7);
}

.container .info .right-info {
  padding-bottom: 18vw;
  margin-right: 3vw;
}

.container .gradient-screen {
  position: absolute;
  width: 100%;
  height: 56.25vw;
  background: linear-gradient(0deg, #181818, transparent 50%);
}

.body-wrapper {
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 50vw;
}

.carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.1);
  cursor: pointer;
}

.carousel-container .slider {
  --slider-index: 1;
  width: calc(100% - 2 * var(--slider-padding));
  display: flex;
}

.carousel-container .slider .img-container {
  aspect-ratio: 16/9;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0.1rem;
  position: relative;
}

.carousel-container .slider .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--card-border);
}

.carousel-container .slider .img-container .hidden-info-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: yellow;
  border-radius: var(--card-border);
  transition: all 0.2s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

.carousel-container .slider .img-container .hidden-info-card img {
  width: 100%;
  aspect-ratio: 16/9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-container .slider .img-container .hidden-info-card .card-info {
  font-size: 1vw;
}

.carousel-container .slider .img-container .hidden-info-card:hover {
  opacity: 1;
  top: -7vw;
  left: 4.5vw;
  scale: 1.5;
  transition-delay: 0.5s;
  pointer-events: all;
  z-index: 15;
}

.carousel-container .slider .img-container:hover .hidden-info-card {
  pointer-events: all;
  z-index: 15;
}

.carousel-container:hover .arrow {
  visibility: visible;
}

.arrow {
  font-size: 6vw;
  color: #fff;
  font-weight: 100;
  line-height: 0.5rem;
  transition: font-size 0.1s ease;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

.handle {
  width: var(--slider-padding);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
  margin: 0.1rem 0 0.35rem 0;
  border: none;
  cursor: pointer;
}

.handle:hover .arrow, .arrow:hover {
  font-size: 8vw;
  visibility: visible;
}

.arrow:hover .handle, .handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.left-handle {
  margin-right: 0.1vw;
  border-radius: 0 var(--card-border) var(--card-border) 0;
}

.right-handle {
  margin-left: 0.1vw;
  border-radius: var(--card-border) 0 0 var(--card-border);
}

/*# sourceMappingURL=o_test.css.map */