@import url(../../css/main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Netflix Sans";
}

.nav-container {
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  @apply min-h-[46px]
    max-h-[91px];
}
.nav-container .header-container {
  width: 100%;
  height: 100%;
  @apply flex
        justify-between 
        items-center;
}
.nav-container .header-container .left-content {
  margin-left: 20px;
  @apply w-[167px]
            h-[90px]
            min-w-[75px]
            max-w-[166.5px]
            min-h-[20px]
            max-h-[45px];
}
.nav-container .header-container .left-content svg {
  @apply w-[100%]
                h-[45px];
}
.nav-container .header-container .sign-out {
  font-size: 18px;
  color: #221f1f;
  height: 90px;
  @apply flex
            items-center
            px-[29px]
            text-[16px]
            lg:text-[19px]
            font-semibold;
}
.nav-container .header-container .sign-out:hover {
  text-decoration: underline;
  @apply cursor-pointer;
}

.body-container {
  width: 100%;
}
.body-container .content-container {
  padding: 20px 32px 60px;
  margin: 0px 0px 15px;
  @apply flex
        flex-col
        justify-center
        mb-[95px];
}
.body-container .content-container .title-container {
  @apply text-center
            mb-3;
}
.body-container .content-container .title-container .title {
  @apply text-[32px];
}
.body-container .content-container .profile-container {
  display: flex;
  justify-content: center;
  @apply my-[35px];
}
.body-container .content-container .profile-container .profile-icon {
  border-radius: 10%;
}
.body-container .content-container .profile-container .profile-name {
  @apply mx-[15px]
                text-[20px]
                flex
                items-center
                font-semibold;
}
.body-container .content-container .link-container {
  @apply text-center
            mb-[35px];
}
.body-container .content-container .link-container a {
  color: #0071eb;
  text-decoration: none;
  @apply text-center
                text-lg;
}
.body-container .content-container .button-container {
  @apply flex
            justify-center;
}
.body-container .content-container .button-container .transfer-button {
  border-radius: 5px;
  background-color: red;
  @apply border-none
                text-white
                text-lg
                w-[340px]
                h-[48px];
}
.body-container .content-container .learn-more-container {
  margin: 0px 55px;
  padding: 15px 0px 35px;
}
.body-container .content-container .learn-more-container span p {
  @apply text-lg
                    text-center
                    font-semibold;
}
.body-container .content-container .sub-title-container {
  @apply mt-[18px]
            mb-[6px];
}
.body-container .content-container .sub-title-container .sub-title {
  @apply text-[23px]
                text-center;
}
.body-container .content-container .check-mark-container {
  @apply flex
            min-w-[310px]
            max-w-[400px]
            h-[290px]
            m-[25px]
            mx-auto
            bg-purple-200;
}
.body-container .content-container .check-mark-container .check-mark-content .check-mark-item {
  @apply w-[100%]
                    h-[69px];
}
.body-container .content-container .check-mark-container .check-mark-content .check-mark-item span {
  display: flex;
}
.body-container .content-container .check-mark-container .check-mark-content .check-mark-item span .svg-box {
  @apply h-[69px];
}
.body-container .content-container .check-mark-container .check-mark-content .check-mark-item span p {
  color: #333;
  @apply text-lg
                            font-light
                            text-wrap
                            ml-5;
}

.footer-container {
  background-color: #f3f3f3;
  border-top: 1px solid #737373;
  @apply mt-0
    min-h-[165px]
    max-h-[245px]
    pb-5;
}
.footer-container .footer-box {
  @apply mx-[22px]
        pt-[30px];
}
.footer-container .footer-box .footer-title-container .footer-title {
  color: #737373;
  text-decoration: none;
  @apply text-lg;
}
.footer-container .footer-box .footer-title-container .footer-title:hover {
  text-decoration: underline;
}
.footer-container .footer-box .footer-links {
  color: #737373;
}

/*# sourceMappingURL=transfer_profile.css.map */
